/* 
Developer name: Jeandre Melaria
Project title: Bootstrap email newsletter template 2
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap
IDE tool: Dreamweaver
Database:  -
Project type: Email newsletter template.
File created date: 20.07.2017
Last modified: 27.07.2017
 */

/* 
Table of contents
- Color swatches 
- Variables
- Mixings
*/

/* === === Color swatches === ==
color 1: #f1f2ea
color 2: #606c48
color 3: white
*/

/* === === Variabel === == */
@color-1: #f1f2ea;
@color-2: white;
@text-color: #606c48;
@margin: 20px;
@padding:20px;

/* === === Mixings === == */
.bg-color{
	background-color:@color-1;
}
.bg-color2{
	background-color:@color-2;
}
.text-color{
 	color:@text-color;
}
.margin{
	margin:@margin 0 @margin 0;	
}
.padding{
	padding:@padding;
}
.social-media-icon-size{
	width:25% !important;
}
.social-media-icon {
    list-style:none;
    margin:0;
}

.social-media-icon  li {
    display: inline;
}

/* === === Links === == */

/* === === Media queries === == */